body {
    background: linear-gradient(to right, brown, RGB(153,153,127), brown);
    color: #333333;
    font-family: Calibri, Candara, Segoe,
    		 'Segoe UI', Optima, Arial,
		 sans-serif;
    font-size: 18px;
}

div.container {
    padding: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 38em;
  }
}

.masthead {
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    background-color: white;
    padding: 1.5em;
    line-height: 1.6;
    text-align: justify;
    margin: 0 auto 0 auto;
}

div.post {
    margin-top: 1em;
    line-height: 1.6;
}

footer {
    border-top: solid 1px black;
    color: black;
    font-size: 12px;
    margin-top: 1.5em;
    padding: 0.5em 0 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3, h4, h5, h6 {
    font-size: 20px;
}

div.info {
    color: #555555;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 1em;
}

div.link {
    background-color: #fcfcfc;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.figure {
    display: inline-block;
    background-color: #f9f9f9;
    margin: 0.5em 2em 1em 2em;
    padding: 0.5em;
    max-width: 90%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

div.tag-cloud {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 0.5em;
}

p.caption {
    font-size: 14px;
    background-color: #fcfcfc;
    margin: 0.5em;
    padding: 0.2em;
}

blockquote {
    background-color: #fcfcfc;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

ul {
    padding-left: 2em;
}

pre {
    overflow: auto;
    resize: both;
}
