body {
    color: black;
    background-color: #c9ffe5;
    font-family: Constantia, "Lucida Bright", Lucidabright,
                 "Lucida Serif", Lucida, "DejaVu Serif",
		 "Bitstream Vera Serif", "Liberation Serif",
                 Georgia, serif;
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0px auto 0px auto;
    width: 800px;
}

div#foreground {
    background-color: white;
    padding: 10px;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

.sidebar {
    float: right;
    padding: 10px;
    margin: 10px;
}
    
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div.link {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px;
}